/*----- \form -----*/

#internalUseOnly {
  display: none;
}

.frmerror {
  // display: none!important;
  font-size: 14px;
  color: rgb(255,70,70)!important;
  margin: 0!important;
}

.form-control.error,
.form-control.error,
.form-control.error {
  border: 2px solid rgba(255,70,70,1) !important;
}

/*----- /form -----*/