/*----- \utility -----*/

.brand-primary { color: $brand-primary; }
.brand-secondary { color: $brand-secondary; }

.feather {
  height: 1rem;
  margin-top: -4px;
  pointer-events: none;
  vertical-align: middle;
  width: 1rem;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dark-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.super-shadow {
  box-shadow:
    0 0.7px 2.2px rgba(0, 0, 0, 0.034),
    0 1.7px 5.3px rgba(0, 0, 0, 0.048),
    0 3.1px 10px rgba(0, 0, 0, 0.06),
    0 5.6px 17.9px rgba(0, 0, 0, 0.072),
    0 10.4px 33.4px rgba(0, 0, 0, 0.086),
    0 25px 80px rgba(0, 0, 0, 0.12)
  ;
}

body {
  min-height: 100vh;
}

main {
  overflow: hidden;
}

.container {
  max-width: 1140px;
}

hr.dashed {
  margin: 1rem 0;
  height: 0;
  border-top: 3px dashed rgba($black, 0.1);
  color: transparent;
  background-color: transparent;
  opacity: 1;
}

.stamp {
  position: relative;
  
  img {
    border-radius: 6px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -6px; left: -6px;
    background-color: $black;
    height: 18px;
    width: 18px;
    outline: 4px solid $off-white;
    transform: rotate(-12deg);
    
  }
}

.btn {
  border-radius: 100px;
  padding: .3rem 1.25rem .375rem;
}

.form-control {
  background-color: transparent;
  border-color: $black;

  &:focus {
    background-color: transparent;
    border-color: #1a1e21;
    box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%);
  }
}

/*----- /utility -----*/