// colours
$white: #fff;
$off-white: #f2f2f2;
$black: #1b1b1c;
$brand-primary: #513d3c;
$brand-secondary: #ebd5b3;

// type
$font-size: 19px;
$brand-serif: 'Times New Roman', Times, serif;
$brand-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";