---
layout: base.njk
title: Thank You
---

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 text-center">
    <h3 class="brand-serif">Thank You!</h3>
    <p class="lead mb-4">Message successfully submitted</p>
    <a class="btn btn-outline-dark" href="/" role="button">Return home</a>
  </div>
</div>
