---
layout: base.njk
title: Portfolio
---

<div class="row">
  <div class="col-md-12">
    <h5 class="text-muted mb-0">Portfolio</h5>
    <h1 class="brand-serif">Workhub Rewards Catalog</h1>
  </div>
  <div class="col-md-10">
    <p>Workhub's founder discovered a strong link between safety compliance and recognition early on in Workhub's (formerly SafetySync) life. This concept become Rewards (<a href="https://www.workhub.com/features/branded-apparel/" target="_blank">read more about Workhub Rewards here</a>). Collecting points, spending them on Rewards, and have them shipped directly from us (customization of all soft good available in small batches) has proved incredibly appealing to beleaguered safety admins.</p>
    <p class="mt-4"><strong>The Bet</strong><br />The high adoption and enjoyment of Workhub Rewards by workers isn't <em>because</em> of the catalog... it's in <em>spite</em> of it. For quick and easy organizational adoption, the catalog has to more closely follow Ecommerce norms.</p>
  </div>
  <div class="col-md-2"><a class="btn btn-outline-dark mb-4" href="../../">Go back</a></div>
</div>

<hr class="dashed my-4" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/01-oof.png" class="img-fluid super-shadow rounded-3" alt="">
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">That unfortunately doesn't look (or work!) great</h5>
      <p>Rewards was especially hard hit when SafetySync became workhub. Something was lost in translation and an opportunity to bring Rewards into the modern era of Ecommerce patterns and flows was missed. No meaningful change in conversions was made in years.</p> 
      <p>No matter how many points you give a worker (and mind that they’re worth 25 cents each!) they always make about one redemption on the outside of a year (12.5 months to be exact). This has ballooned potential points in the system that have yet to be converted into revenue for us. I strongly believed that updating the catalog could help with this and as product owner of this segment I was ready to take the plunge.</p>
      <p>Objectives:</p>
      <ul>
        <li>Standardize the wildly non-standard design</li>
        <li>Integrate more modern common flows</li>
        <li>Make everything flashier (we want users to convert)</li>
        <li>Give more reasons to redeem now</li>
        <li>Add lazy loading to get the user to the products faster</li>
      </ul>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-md-4" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/02-item-card.png" class="img-fluid rounded-3 mb-3" alt="">
  </div>
  <div class="col-md-8 mb-4 mb-md-0 d-flex flex-column justify-content-center" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Item Card</h5>
      <p>There was information we wanted to communicate as quickly as possible:</p>
      <ul>
        <li><strong>Tag</strong> (Is it new? Restocked? On Special?) Driving excitement was key to the success of this feature</li>
        <li><strong>Photo</strong> a sizable &amp; high-quality photo is necessary to catch the eye</li>
        <li><strong>Customized?</strong> a substantive amount of our orders are customized with the organizations logo</li>
        <li><strong>Cost</strong> Can the user afford it right now? Or will they have to save up?</li>
        <li><strong>Brand</strong> A key strategic advantage is our high-quality purchasing. We use this to differentiate ourselves from other recognition programs</li>
        <li><strong>Key Actions</strong> Has it been added to your wishlist or shopping cart? Previously, these actions were much deeper into the flow. It didn't cultivate the type of entertaining experience we want to cultivate</li>
      </ul>
    </div>
  </div>
</div>

<div class="row py-4 py-md-5">
  <div class="order-md-2 col-md-8" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/03-your-picks.png" class="img-fluid light-shadow mb-3 rounded-3" alt="">
  </div>
  <div class="order-md-1 col-md-4 mb-4 mb-md-0 d-flex flex-column justify-content-center" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Your Picks</h5>
      <p>A simple algorithm that aggregates popular items from your org, other orgs, and items similar to others you’re interested in. Putting items that the user might pick immediately at the top of the page develops a conversion velocity much higher than a prolonged search.</p>
    </div>
  </div>
</div>

<div class="row py-4 py-md-5">
  <div class="col-md-4" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/04-filter-panel.png" class="img-fluid rounded-3 mb-3" alt="">
  </div>
  <div class="col-md-8 mb-4 mb-md-0 d-flex flex-column justify-content-center" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Filter Panel</h5>
      <p>The filter panel was modeled after the market research that was done for the project. Products like Amazon, Walmart, Shopify templates, and other recognition-style software formed the foundation of the standard type of sorting/filtering expected.</p>
      <p>It was important that it didn’t feel too far away from the regular controls used in Workhub for filtering and sorting. Creating wildly non-standard UI was something I was tasked with reducing as much as possible. This solution was a nice compromise between high utility and consistency.</p>
      <p>Key brand features like enumerating how many items were in the catalog at that moment, point range with a new “Quick limit” to that users point total, and tag-based filtering were added to create a truly enjoyable “discovery-style” experience with the aim of helping a user find whatever they’re interesting in in the catalog as quickly as possible.</p>
    </div>
  </div>
</div>

<div class="row py-4 py-md-5">
  <div class="order-md-2 col-md-4" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/05-limits.png" class="img-fluid light-shadow mb-3 rounded-3" alt="">
  </div>
  <div class="order-md-1 col-md-8 mb-4 mb-md-0 d-flex flex-column justify-content-center" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Limits</h5>
      <p>To precent over-spending, admins can set monthly/yearly spending limits on users. While we strong encourage them to Reward workers as much as possible, it's a necessary safety feature for many organizations.</p>
      <p>Finding a way to display this information prominently but not intusively was important to the communication of the core concept. It uses the curved bar to help the user imagine the functional monies they have left to spend.</p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/00-rewards-catalog-cover.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption><a class="" href="https://www.figma.com/file/lXUhd339GSbSUPjXqj0nKc/Rewards-Catalog?type=design&node-id=0%3A1&mode=design&t=EMayW9dl8jbw6vlB-1" target="_blank">View the Figma file</a></figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">How'd it turn out?</h5>
      <p>The core objective were achieved and time-to-conversion has dropped below the 12 month mark. Lazy loading and pre-loading strategies were utilized to optimize the paint time and data transfer rates.</p>
      <p>The UI is also much more indicative of the type of styling we're aiming for and is in tight alignment with the HONK design system.</p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-10 offset-lg-1 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/06.png" class="img-fluid rounded-3" alt="">
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Next steps</h5>
      <p>Providing better clarity on sizing/variation among items is our next major objective. While still in the wireframing stage, there has been much progress made on aligning the item page to the catalog as well.</p>
      <p>There are features we can add here (like the "you have enough points to redeem this item" banner) to continue to bring the time to conversion down on various items throughout the catalog.</p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-10 offset-lg-1 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/rewards-catalog/07.png" class="img-fluid super-shadow rounded-3" alt="">
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Spinoffs</h5>
      <p>This and Anniversaries (<a href="../../case-studies/wh-anniversaries/">Check out that case study here</a>) both required the spinoff "New checkout" flow. Based on Shopify's "Use a new address" flow, this is a hyper-simple and extensible solution to trigger a checkout for a user trying to make a redemption from any Workhub component that current supports it.</p>
    </div>
  </div>
</div>

<hr class="dashed mb-5" />

<div class="d-flex justify-content-center">
  <a class="btn btn-outline-dark mb-4" href="../../">Go back to case studies</a>
</div>