---
layout: base.njk
title: Portfolio
---

<div class="row">
  <div class="col-md-12">
    <h1 class="brand-serif">Portfolio</h1>
  </div>
  <div class="col-md-6">
    <p>Real-world projects showcasing my expertise in crafting intuitive interfaces and enhancing user experiences.</p>
  </div>
</div>

<hr class="dashed my-4" />

<h4 class="text-muted">Case Studies</h4>

<div class="row py-4 py-md-5">
  <div class="col-lg-9 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <a class="fade-link" href="/portfolio/case-studies/wh-anniversaries">
      <img src="/images/projects/anniversaries/00-anniversaries-cover.png" class="img-fluid super-shadow rounded-3" alt="Cover for Workhub Anniversaries Project">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center text-center text-md-start">
    <div class="portfolio-project__info">
      <h5 class="mb-2">Anniversaries</h5>
      <h6 class="text-muted mb-2"><small>It's time to celebrate with Workhub's newest recognition component.</small></h6>
      <a class="d-block mb-4" href="/portfolio/case-studies/wh-anniversaries">Explore case study</a>
      
    </div>
  </div>
</div>

<div class="row py-4 py-md-5">
  <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center text-center text-md-start">
    <div class="portfolio-project__info">
      <h5 class="mb-2">Data Tables</h5>
      <h6 class="text-muted mb-2"><small>The heartbeat of managing data in Workhub needed a massive upgrade.</small></h6>
      <a class="d-block mb-4" href="/portfolio/case-studies/wh-data-tables">Explore case study</a>
      
    </div>
  </div>
  <div class="col-lg-9 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <a class="fade-link" href="/portfolio/case-studies/wh-data-tables">
      <img src="/images/projects/data-tables/00-cover.png" class="img-fluid super-shadow rounded-3" alt="Cover for Workhub Data Tables Project">
    </a>
  </div>
</div>

<div class="row py-4 py-md-5">
  <div class="col-lg-9 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <a class="fade-link" href="/portfolio/case-studies/wh-rewards-catalog">
      <img src="/images/projects/rewards-catalog/00-rewards-catalog-cover.png" class="img-fluid super-shadow rounded-3" alt="Cover for Workhub Rewards Catalog Project">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center text-center text-md-start">
    <div class="portfolio-project__info">
      <h5 class="mb-2">Rewards Catalog</h5>
      <h6 class="text-muted mb-2"><small>Ecommerce is an easy pattern these days... right?</small></h6>
      <a class="d-block mb-4" href="/portfolio/case-studies/wh-rewards-catalog">Explore case study</a>
      
    </div>
  </div>
</div>