html, body {
  background-color: #eee;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 330px;
  background-color: rgba(0,0,0,0.16);
}

.option-2 {
  padding: 16px calc(330px + 16px) 16px 16px;
  background-color: honeydew;
  
  overflow: hidden;
}

.option-2 .card-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 2560px;
}

.option-2 .title {
  background-color: peachpuff;
  grid-column: 1/-1;
}

.option-2 .dash-card {
  padding: 12px;
  font-size: 16px;
  background-color: #fff;
  height: 120px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 160ms;
  cursor: pointer;
}

/* .option-2 .dash-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.04);
} */

@media only screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .option-2 {
    padding: 8px;
  }

  .option-2 .card-container {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .option-2 .dash-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 360px) {
  .option-2 .dash-card {
    width: 100%;
  }
}