---
layout: base.njk
title: About
---

<div class="row justify-content-center">
  <div class="col-lg-2 col-md-4">
    <div class="stamp mb-4">
      <img class="img-fluid" src="/images/content/about/headshot.jpg" alt="Russell McMurtry Headshot">
    </div>
  </div>
  <div class="col-lg-6 col-md-8">
    <h1 class="brand-serif">About</h1>
    <p class="lead">I'm a brainstormer and a problem solver.</p> 
    <p>As a designer, I work with stakeholders to identify with their users, devise products that delight, and deliver them effectively.</p>
    <p>Consistent and scalable design is core to my creative philosophy. By working collaboratively with a strong sense of self-awareness, I’m able to build scalable, modern, and iterable products that grow with their customers.</p>
    <p>I excel in a fast-paced environment and am able to lead/grow with a wide variety of teams with an equally wide set of objectives and processes. Located in sunny Calgary, AB.</p>
  </div>
</div>
