---
layout: base.njk
title: About
---

<div class="row justify-content-center">
  <div class="col-lg-2 col-md-4">
    <div class="stamp">
      <img class="img-fluid" src="https://via.placeholder.com/320" alt="Russell McMurtry">
    </div>
  </div>
  <div class="col-lg-6 col-md-8">
    <h3>About</h3>
    <p class="lead">Russell McMurtry is a builder and a problem solver.</p> 
    <p>By iterating on foundational design concepts, he works with stakeholders to launch and maintain products that exceed expectations, focus on outcomes, and generate desired conversions.</p>
    <p>Russell loves to work in a high-paced environment while maintaining quality in his work. He can manage expectations and develop relationships with a stable of clients and excels in a team environment with highly developed communication skills.</p>
  </div>
</div>
