---
layout: base.njk
title: About
---

<div class="row justify-content-center">
  <div class="col-lg-2 col-md-4">
    <div class="stamp mb-4">
      <img class="img-fluid" src="/images/content/about/headshot.jpg" alt="Russell McMurtry Headshot">
    </div>
  </div>
  <div class="col-lg-6 col-md-8">
    <h1 class="brand-serif">About</h1>
    <p class="lead">I'm a builder and a problem solver.</p> 
    <p>By utilizing foundational design concepts, I work with stakeholders to create products that exceed expectations and focus on desired outcomes. </p>
    <p>I love working in a high-paced environment, juggling multiple projects, and maintaining my high standards. I can manage expectations, develop relationships with clients and collaborators, and give and receive considerate criticism. Learning and developing my skills is always at the forefront of my process.</p>
  </div>
</div>
