---
layout: base.njk
---

<div class="row">

  <div class="col-lg-4 col-md-6">
    <div class="card outline mb-4">
      <div class="card-body">
        <h4 class="brand-serif">Download this site</h4>
        <p class="mb-4">Hop on over to my github to fork this site and have a look at what's going on here.</p>
        <a class="btn btn-outline-dark" href="https://github.com/McMurtry7/mcmurtry.ca" target="_blank">Access repo</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="card outline mb-4">
      <div class="card-body">
        <h4 class="brand-serif">Check out my portfolio</h4>
        <p class="mb-4">I've collated a selection of my work from the past couple of years for anyone to have a look at. Please send me a message if you have any questions.</p>
        <a class="btn btn-outline-dark" href="/portfolio">View portfolio</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="card outline mb-4">
      <div class="card-body">
        <h4 class="brand-serif">Contact me today</h4>
        <p class="mb-4">Questions? Comments? Book/movie/comic suggestion? I want to hear from you!</p>
        <a class="btn btn-outline-dark" href="/contact">Contact me</a>
      </div>
    </div>
  </div>

</div>
