---
layout: base.njk
title: Portfolio
---

<div class="row">
  <div class="col-md-12">
    <h5 class="text-muted mb-0">Portfolio</h5>
    <h1 class="brand-serif">Anniversaries by Workhub</h1>
  </div>
  <div class="col-md-10">
    <p>We identified a common use for our Rewards program that was repetitive, time consuming, &amp; too easily administered incorrectly: rewarding workers for their long service!</p>
    <p>We wanted to act quickly and turn around a bespoke experience for these organizations.</p>
    <p class="mt-4"><strong>The Bet</strong><br />Build a component that tracks worker hire dates and organizes them in to an easily digestible anniversary list. Help admins never miss the opportunity to recognize service with an item from the Workhub Rewards catalog. Additionally, provide comprehensive tools to build a strong yearly program that reflects the values of an organization.</p>
    <p>We can utilize Workhub's ability to provide quiality embroidered soft goods and leverage that against the favourable Canadian tax code for anniversary gifts.</p>
  </div>
  <div class="col-md-2"><a class="btn btn-outline-dark mb-4" href="../../">Go back</a></div>
</div>

<hr class="dashed my-4" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/01-the-anniversaries-problem.png" class="img-fluid super-shadow rounded-3" alt="">
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">The "Problem"</h5>
      <p>Administrators were being saddled with a major headache if they wanted to recognize years of service at their organization using Workhub’s Rewards program: Track years of service… somewhere?... and hand-bomb it into Workhub with a manual point adjustment.</p>
      <p>The Rewards program allows organizations to award "points" to workers who complete tasks (watching training videos, uploading certificates, participating in surveys, + much much more). These points are used on Workhub to redeem tons of cool products. If you'd like to learn more, please checkout my <a href="/case-studies/wh-rewards-catalog">Workhub Rewards catalog refresh case study</a>.</p>
      <p>The benefits of recognition are well known at Workhub, retention skyrockets at orgs that dole out even small rewards. So we decided to make the bet - we were going to explore interest in a bespoke anniversary component in Workhub.</p>
      <p>It would help administer similar programs, boost conversions by Workers who will now have to pick and item on their anniversary (not just squirrel away the points!), and continue to grow our recognition component stable.</p>
      <p>Two questionnaires were sent out to customers currently using recognition components in Workhub and another was set out to the broader Workhub community. The results were positive and we decided to move forward.</p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/02-personas-that-need-to-work.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption><a class="" href="https://www.figma.com/file/a7P0ME5RslGOzwKeHyBD7V/%F0%9F%8F%86-Anniversaries-Big-Swing-(Copy)?type=whiteboard&node-id=0%3A1&t=jbzGDVpnhyD3RwcJ-1" target="_blank">View the FigJam file</a></figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Who was going to be using Anniversaries?</h5>
      <p>With interest confirmed, we started mapping out the user personas and what their primary flows were going to require:</p>
      <ul>
        <li><strong>The Setup Admin</strong> needs it to be a easy as possible to start recognizing years of service at their organization</li>
        <li><strong>The Manager</strong> needs to be able to track, approve redemptions, and update the program over time</li>
        <li><strong>The Worker</strong> needs to be notified of an anniversary, easily select an exciting item, and have it shippied to their address of choice</li>
      </ul>
      <p>It was an immense help that most of this functionality was to be built on the foundation of Rewards. <a href="https://www.workhub.com/features/branded-apparel/" target="_blank">Read more about Workhub Rewards here</a></p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/03-quickstart-wireframes.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption><a class="" href="https://www.figma.com/file/Wg1VoXeBFZckolzKFl5dXZ/Anniversaries-Wireframe%2FDemo?type=design&node-id=0%3A1&mode=design&t=ePOMPDgi4DvgrH2T-1" target="_blank">View the Figma file</a></figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">This was going to need lots of design!</h5>
      <p>One of our original ideas that continued to work and made it to the final version of the product was the “Quickstart”. It was a stepper the “Setup Admin” could use to get a walkthrough of all the settings and configurations they’d need to start celebrating anniversaries via Workhub.</p>
      <p>Many Workhub admins would be familiar with the tax legislation related to recognition programs, but this was a good time to really peel back the Canadian tax code related to this area. Settings, notifications, hire dates, and waht would be available to a worker on what year of service.</p>
      <p>Above is a wireframe demo I put together for a design review session. This project required a new type of wireframing (much more basic that we'd previously been doing) so I put together <a href="https://www.figma.com/file/zSTRUP13bOPzeh1mDPzOtV/Workhub-Wireframe-Toolkit?type=design&node-id=0%3A1&mode=design&t=P4ZGEmaD2NHZgRUR-1" target="_blank">a toolkit from scratch just for such a purpose</a>.</p>
    </div>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/04-admin-final.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption><a class="" href="https://www.figma.com/file/j8ove8Gv53tondmDHweyZN/Admin-Anniversaries?type=design&node-id=1%3A18541&mode=design&t=OS1OgUgy8UwhnQ4x-1" target="_blank">View the Figma file</a></figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Stakeholders were very happy with the next two months of progress</h5>
      <p>The Admin side of the component was completed first. There's a link above to the finalized design file, but below are some highlights:</p>
    </div>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/05.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">Catalog for picking products. Easily allows admins to create useful price bands</figcaption>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/06.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">The disabled component still displays enticing information + launches Quickstart</figcaption>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/07.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">First step of the Quickstart to get the admin rolling</figcaption>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/08-worker-final.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption><a class="" href="https://www.figma.com/file/lqfPRwwSHmhQ7zIBSKCSPd/Worker-Anniversaries?type=design&node-id=0%3A1&mode=design&t=jyWt7ShvVF8FOXGA-1" target="_blank">View the Figma file</a></figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">The worker side needed many demos and revisions</h5>
      <p>We needed to take an extremely well defined flow (Ecommerce) and strip it down to walking around a dollar store with a dollar.</p>
      <p>Customized good on non-five year anniversaries really needed to pop with known brands and looking forward into the program needed to be exciting as well. We also wanted to provide some knowledge about other anniversaries happening throughout the organization. The "Roadmap" page was born from this.</p>
      <p>Below are some highlights:</p>
    </div>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/09.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">The "Anniversary Roadmap" concept for workers. With other upcoming anniversaries</figcaption>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/10.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">The worker catalog. Shows all items in stock from Admin's product selections</figcaption>
  </div>
  <div class="col-lg-12 my-4 my-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/11.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">A new checkout flow based on Shopify's "Use a new address" flow was built for this component as well</figcaption>
  </div>
</div>

<hr class="dashed" />

<div class="row py-4 py-md-5">
  <div class="col-lg-12 mb-4 mb-lg-5" style="position: relative; z-index: 1;">
    <img src="/images/projects/anniversaries/12-alpha.png" class="img-fluid super-shadow rounded-3" alt="">
    <figcaption style="text-align: center;">Anniversaries among the many other Workhub components</figcaption>
  </div>
  <div class="col-lg-8 offset-lg-2 col-md-8 mb-4 mb-md-0" style="position: relative; z-index: 1;">
    <div class="case-study-info">
      <h5 class="mb-2">Anniversaries is now in alpha</h5>
      <p>A core group of organizations are currently alpha testing the newly built component (including workhub itself!). Early user acceptance tests and sentiment surveys are looking extremely positive. We're targeting a late Q2 release after a few rounds of tweaks and upgrades.</p>
      <p>The fire-and-forget nature of this new component is saving admins massive amounts of time and it has already proved to increase conversions as apposed to points allocations.</p>
    </div>
  </div>
</div>

<hr class="dashed mb-5" />

<div class="d-flex justify-content-center">
  <a class="btn btn-outline-dark mb-4" href="../../">Go back to case studies</a>
</div>